header {
    color: white;
    background-color: #ffbf00;
    border-radius: 25pt;
    font-size: 15pt;
    text-align: center;    
}

html {
    background-color: navajowhite;
}

main {
    background-color: #ffbf00;
}

a {
    color: gray;
}

h1 {
    color: white;
}

footer a {
    color: #ffbf00;
}

h2 {
    color: #003366;
}

section a {
    background-color: orange;
    color: #ffbf00;
    border-radius: 2pt
}

body {
    background-color: antiquewhite
}

