
header {
    color: blue;
    background-color: #ffbf00;
    border-radius: 25pt;
    font-size: 15pt;
    text-align: center;    
}

html {
    background-color: #003366;
}

main {
    background-color: #ffbf00;
}

a {
    color: blue;
}

h1 {
    color: #003366;
}

footer a {
    color: #ffbf00;
}

h2 {
    color: #003366;
}

section a {
    background-color: #003366;
    color: #ffbf00;
    border-radius: 2pt
}


